APP_NAME=Express
NODE_ENV=development
PORT=7575

DATABASE_LOCAL=mongodb://localhost:27017/helloworld # change helloworld to your desired local DB name

# for online mongoDB, get the connection string from the provider 
# eg mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.ed5ab.mongodb.net/<DB_NAME>?retryWrites=true&w=majority
DATABASE_CONNECION_STRING=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=